@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.text-primary {
  color: #28a745;
}

.btn-light, .btn-dark, .btn-primary, .btn-secondary, .btn-outline {
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-light:hover {
  opacity: 0.8;
}

.btn-dark {
  background: #333;
  color: #f4f4f4;
}

.btn-dark:hover {
  opacity: 0.8;
}

.btn-primary {
  background: #28a745;
  color: #f4f4f4;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background: #0284d0;
  color: #f4f4f4;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-outline {
  background: transparent;
  color: #f4f4f4;
  border: 1px solid #fff;
}

.btn-outline:hover {
  opacity: 0.8;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

.bg-primary {
  background: #28a745;
  color: #f4f4f4;
}

.bg-secondary {
  background: #0284d0;
  color: #f4f4f4;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #333;
  color: white;
  opacity: 0.8;
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar h1.logo {
  font-weight: 400;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar.top {
  background: transparent;
}

.hero {
  background: url(../img/home/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  color: white;
  position: relative;
}

.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  background: url("../img/home/blog.jpg") no-repeat center center/cover;
  height: 30vh;
}

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background: #28a745;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.icons .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.icons .flex-container > div {
  padding: 20px;
}

.solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solutions .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solutions .column .column-1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.solutions .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.solutions .column-2 h2 {
  font-size: 40px;
}

.solutions .column-2 h4 {
  margin-bottom: 10px;
}

.solutions .column-2 p {
  margin: 20px 0;
}

.solutions.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#cases {
  padding: 20px 20px 40px;
}

#cases .section-header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#cases h2 {
  font-size: 40px;
  margin: 20px 0;
}

#cases .row-1, #cases .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cases .row-1 .last-img, #cases .row-2 .last-img {
  width: 316px;
  height: 211px;
}

#cases .row-1 .img, #cases .row-2 .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100px;
  margin: 5px;
}

#cases .row-1 .img:hover, #cases .row-2 .img:hover {
  opacity: 0.7;
}

#blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#blog .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog .column .column-1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#blog .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

#blog .column-2 h2 {
  font-size: 40px;
}

#blog .column-2 h4 {
  margin-bottom: 10px;
}

#blog .column-2 p {
  margin: 20px 0;
}

#team {
  padding: 20px 20px 40px;
}

#team .section-header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#team h2 {
  font-size: 40px;
  margin: 20px 0;
}

#team .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#team .row-1 .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 20px;
}

#team .row-1 .item .img {
  border-radius: 50%;
}

#team .row-1 .item p.bold {
  font-weight: bold;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .column .column-1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact .column-2 {
  padding: 70px 30px 30px;
  width: 100%;
}

#contact .column-2 h2 {
  font-size: 40px;
}

#contact .column-2 .callback-form {
  width: 100%;
  padding: 20px 0;
}

#contact .column-2 .callback-form label {
  display: block;
  margin-bottom: 5px;
}

#contact .column-2 .callback-form .form-control {
  margin-bottom: 15px;
}

#contact .column-2 .callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

#contact .column-2 .callback-form input:focus {
  outline-color: #28a745;
}

#contact .column-2 .callback-form input.btn-primary {
  margin-top: 20px;
  font-size: 16px;
}

#contact .column-2 .callback-form input::-webkit-outer-spin-button,
#contact .column-2 .callback-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: #28a745;
}

.footer .social a {
  margin: 0 20px;
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    padding: 20px;
  }
  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  .hero h1 {
    text-align: center;
  }
  .hero p {
    text-align: center;
  }
  .hero .content.blog h1 {
    margin: 100px 0 20px;
    padding: 20px 0;
  }
  .icons .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .solutions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .solutions.flex-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #cases .row-1, #cases .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #cases .row-1 .last-img, #cases .row-2 .last-img {
    width: 100%;
    height: 100%;
  }
  #cases .row-1 .img, #cases .row-2 .img {
    width: 100%;
  }
  #blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .row-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .row-1 .img {
    width: 70%;
  }
  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */